/** @format */
/* tailwindで謎に当てられるフォントの修正 */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
/* フォント系 */
.kiwi-maru {
  font-family: "Kiwi Maru", serif;
}
.hachi-maru {
  font-family: "Hachi Maru Pop", cursive;
}
body {
  min-height: 100vh;
}
